<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<Nav class="navbar navbar-dark" expand="md">
    <div class="container">


        <h5> <a href="/Home">Home</a></h5>
        <h5><a href="/About">About</a></h5>
        <h5>  <a href="/Menu">Menu</a></h5>
        <h5> <a href="/Contact">Contact</a></h5>


    </div>
</Nav>
<Jumbotron>
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>We are for you</h1>
                <p>We provide you very testy and finger licking goods we are made for serving you best class meal than other!</p>
            </div>
        </div>
    </div>
</Jumbotron>
</body>
</html>